<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>abo</title>
</head>
<body>
    


<p style="padding: 100px; background-color: rgb(101, 98, 121);">Компания *название*. Наша компания заниматся *вид услуг* наши обязанности *обязательности компании* </p>



<nav>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'contacts' %}">Контакты</a></li>
    </ul>
</nav>

</body>
</html>