<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>con</title>
</head>
<body>
    


<h1>Contscts</h1>
<p style="padding: 10px; background-color: rgb(157, 149, 214);">Ресепшон:      +* *** *** **** </p>
<p style="padding: 10px; background-color: rgb(157, 149, 214);">Тех поддержка: +* *** *** ****</p>
<p style="padding: 10px; background-color: rgb(157, 149, 214);">УпровляющийЖ:  +* *** *** **** </p>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'about' %}">О нас</a></li>
    </ul>
    
</nav>
</body>
</html>