<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hom</title>
</head>
<body>
    
    <h1 style="margin-left: auto;">* Name.CO *</h1> <br>
<p style="margin-left: auto;">ваc приведствует наша компания Name.CO </p> <br>

<p>информация:</p> <br>

<nav>
    <ul>  
        <li><a href="{% url 'about' %}">О нас</a></li>
        <li><a href="{% url 'contacts' %}">Контакты</a></li>
    </ul>
</nav>

</body>
</html>